.footer{
    width: 300px;
    height: (600px / 2);
    // background-color: @mainColor;
    background-color: var(--globalRed);
}

.footer-content{
    width: 100px;
    height: 100px;
    background-color: @mainColor;
}